

.App {

  font-family: sans-serif;
  margin: 200px auto;

}
.static-timer{
  display: flex;
  flex-direction: column;
  line-height: 300%;
 align-items: center;
 
}

.timer{
  font-size: 50px;
  
}
.type-timer{
  font-size: 20px;
  color: gray;
word-spacing: 3%
}



